{% extends "blog/base.html" %}
{% block content %}
   <h1> What this web app is all about~ </h1>
   <div style="font-family:Comic Sans MS, cursive, sans-serif; font-weight:legend; font-size:20px">

  <p> This web app is all about sharing your thoughts. 
  <p> It's a simple yet effective app to post things related to all kinds of topics ranging from anime, 
   web series, sports, nature, psychology, current affairs etc and discuss about it.</p>
   <p>Created by <a href="https://www.facebook.com/Rockstar.Parth.984"> <strong>the coolest dude on earth, </strong></a>
   this app allows you to create your own profile so that others can identify you. </p>
   
   </div>
  
{% endblock %}


