{% extends "blog/base.html" %}
{% block content %}
   <h1> What this web app is all about~ </h1>
   <p> This web app is all about sharing your thoughts. 
  <p> It's a simple yet effective app to post things related to all kinds of topics ranging from anime, 
   web series, sports, nature, psychology, society, stereotypes etc and discuss about it.</p>
   <p>Created by the coolest dude on earth - <a href="#"> <strong>Parth Sawant</strong> </a> </p>
    <p> This site is built purely in Python/Django and HTML.</p>
{% endblock %}


