{% extends "blog/base.html" %}
{% block content %}

     <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
             {% if object.author == user %}
            <div>
                <a class="btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}"> Update </a>
                <a class="btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"> Delete </a>
            </div>
             {% endif %}

        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content|safe }}</p>
        
      <div >
       {% comment %} Like saga {% endcomment %}
          {% if user.is_authenticated %}
            <form action="{% url 'like_post' post.pk %}" method="POST">
              {% csrf_token %}

              {% if liked %}
                <button class="btn btn-primary" type="submit" 
              name="post_id" value="{{ post.id}}"> Unlike 👎 </button>
              {% else %}
                  <button class="btn btn-dark" type="submit" 
                name="post_id" value="{{ post.id}}"> Like 👍 </button>
              {% endif %}
            </form>
            <h4> <strong> {{post.total_likes}} Like(s) </strong> </h4>
          {% endif %}
          <br>
        </div>
        <hr>
         {% comment %} comment saga {% endcomment %}
        <div> 
          <h2> Comments 🗨</h2>
          {% if not post.comments.all %} 
          <h4> No comments yet. </h4>
          {% endif  %}

          {% if user.is_authenticated %}
           <h4> <a href="{% url 'add_comment' post.pk %}"> Add a comment 🖋 </a></h4> 
          {% else %}
            <p> Sign up/Login to comment </p>
          {% endif %}

          <br>
          <style> 
          #bdr{
            border-style: solid;
             padding: 10px 10px 10px 10px;
            
          }
          </style>
           <div id = "bdr">
           {% for comment in post.comments.all %}
         
              <strong> {{comment.writer}} </strong>
              <br>
                {{comment.body}} 
                      <br>
                  <i> {{comment.date_posted}} (UTC) </i> 
                     {% if comment.writer == user %}
                       
                        <form action="{% url 'comment_delete' comment.id %}" method="POST">
                            {% csrf_token %}
                           <button style="margin-left: 500px" class=" btn btn-danger" type="submit" name="comment_id" value="{{comment.id}}"> Delete</button>
                          </form> 
                     {% endif %}
                <br><hr>
              {% endfor %}
             </div>

        </div> 
      </div>
    </article>

{% endblock %}

